<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common::header('')}">
    <link rel="stylesheet" type="text/css" th:href="@{/mycss/base.css}">
    <style type="text/css">
        table input{
            font-size: 12px;
            height: 18px;
        }
        .mylittelbtn{
            width: 50px;
            height: 18px;
            vertical-align: middle;
            line-height: 10px;
        }
    </style>

    <SCRIPT language=javascript>
        function select_check(theForm) {
            var count = 0;
            for (var k = 0; k < theForm.length; k++)
                if ((theForm[k].type == "checkbox") && (theForm[k].checked))
                    count++;
            if (count == 0) {
                for (k = 0; k < theForm.length; k++) {
                    if (theForm[k].type == "checkbox")
                        theForm[k].checked = true;
                }
            }
            else {
                for (k = 0; k < theForm.length; k++) {
                    if (theForm[k].type == "checkbox")
                        theForm[k].checked = false;
                }
            }
        }

        function submit_Checkform(theForm, i) {
            var count = 0;
            for (var k = 0; k < theForm.length; k++)
                if ((theForm[k].type == "checkbox") && (theForm[k].checked))
                    count++;
            if (count == 0) {
                alert("提示信息：\n请选择采购计划。");
                return;
            }
            document.form.p_type.value = i;
            window.document.form.submit();
            return true;
        }

        function submit_form(theForm, i) {
            toreload("修改公开求购报价书")
            // window.document.location = "修改公开求购报价书";
        }

    </SCRIPT>
</HEAD>
<BODY>

<!--工具条-->
<div id="myToolbar">
    <center><H4><FONT color=#0070c0 style="font-weight: bold">报价维护</FONT></H4></center>
    <a href="#" id="btn_open" style="float: left" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true,text:'打开'"></a>
    <div class="datagrid-btn-separator"></div>
    <a href="#" id="btn_delete" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true,text:'删除'"></a>
    <br>
    报价书名称：
    <input class="easyui-textbox" style="width:100px" textField="text">
    对应询价书名称:
    <input class="easyui-textbox" style="width:100px" textField="text">
    <a href="#" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
</div>
<!--数据表格-->
<table id="dg"></table>

<script type="text/javascript" th:inline="none">
    $('#dg').datagrid({
        url:'/supplyman/getQuotePage',
        fitColumns:true,
        method:'post',
        fit:true,
        striped:true,   //斑马线效果(隔行变色)
        rownumbers:true,    //行号
        pagination:true,    //分页工具
        pageList:[5,10,15,20,25,30],  //分页显示数据数设置
        //pagePosition:'top',    //分页插件位置
        scrollbarSize:8,    //滚动条大小
        singleSelect:true,  //单选一行
        columns:[[
            {field:'1',title:'选择',width:50,checkbox:true},
            {field:'id',title:'序号',width:50},
            {field:'queTitle',title:'报价书标题',width:200},
            {field:'queDate',title:'报价提交时间',width:100},
            {field:'enquireId',title:'对应询价书',width:100},
            {field:'endDate',title:'询价截止时间',width:100},
            {field:'stockId',title:'采购类型',width:100,
                formatter: function(value,row,index){
                    if (row.stockSupplier){
                        if(row.stockSupplier.supplierId == 0){
                            return "公开求购";
                        }else{
                            return "定向询价";
                        }
                        //return row.user.name;
                    } else {
                        return "公开求购";
                    }
                }
            }
        ]],
        toolbar:'#myToolbar'    //指定工具条
    });
</script>

</BODY>
</HTML>
