<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header('录入采购需求')}">
</head>
<body>

<link rel="stylesheet" href="css/flexDate.css">
<SCRIPT language=JavaScript src="js/flexDate.js"></SCRIPT>
<script LANGUAGE="JAVASCRIPT">
    function submit_form() {
        var len = document.getElementById("price").value.length;
        if (len == 0) {
            alert("单价不能为空");
            return false;
        } else {
            toreload("planman/Order_ytb_list");
        }
        var len2 = document.getElementById("ReadData").value.length;
        if (len2 == 0) {
            alert("日期不能为空");
        } else {
            toreload("planman/Order_ytb_list");
        }
    }

    function submit_form1() {
        var len = document.getElementById("price").value.length;
        var name = table2.rows[1].cells[1].innerText
        if (name==""||name==null) {
            alert("请选中一项物资");
            return false;
        }else if (len == 0){
            alert("单价不能为空");
            return false;
        }else {

            //保存信息
            saveplan();
        }
    }

    function quedingData() {
        var a=$("input[type='radio']:checked" ).parent().parent();
        a=a[0];
        a.cells[5].innerText="完成";
    }

    function iszero(value, input) {
        if (value == 0) {
            alert("数量不能为空！");
            input.focus();
            return;
        }
    }

    function changeData() {
        var cGetRow = window.event.srcElement.parentElement.parentElement.rowIndex;
        //得到某一行
        var oldTr = table1.rows[cGetRow];
        var no = oldTr.cells[2].innerText;
        var name = oldTr.cells[3].innerText;
        var unit = oldTr.cells[4].innerText;
        var oldTr2 = table2.rows[2];
        table2.rows[0].cells[1].innerText = no;
        table2.rows[1].cells[1].innerText = name;
        table2.rows[3].cells[1].innerText = unit;
    }

    //保存
    function  saveplan() {
        //设置传参的值

        var MaterialsCoding=table2.rows[0].cells[1].innerText;//物资编码
        var MaterialsName=table2.rows[1].cells[1].innerText;//物资名称
        var MaterialsQuantity=$("#quantity").val();//数量
        var MaterialsUnit=table2.rows[3].cells[1].innerText;//计量单位
        var MaterialsMoney=$("#price").val();//单价
        var MaterialsData=$("#ReadData").val();//录入计划的日期remark
        var MaterialsRemark=$("#remark").val();//备注
        console.log("物资编码："+MaterialsCoding+"物资名："+MaterialsName+"数量："+MaterialsQuantity+"计量单位："+MaterialsUnit+
        "单价："+MaterialsMoney+"日期"+MaterialsData+"备注："+MaterialsRemark);
        $.ajax({
            type : "get",
            url : "/plan/saveplan?MaterialsCoding=" + MaterialsCoding + "&MaterialsName=" + MaterialsName
                + "&MaterialsQuantity=" + MaterialsQuantity+"&MaterialsUnit="+MaterialsUnit
                +"&MaterialsMoney="+MaterialsMoney+"&MaterialsData="+MaterialsData+"&MaterialsRemark="+MaterialsRemark,
            success : function(data) {
                if (data) {
                    quedingData();
                    alert("保存成功，请选择下一条要保存的数据！");
                } else {
                    alert("保存失败")
                }
            }
        })
    }
</script>
<table border=0 width=90% align=center>
    <tr>
        <td align=center>选择物资====><font color=red>录入需求计划</font>====>需求计划确认</td>
    </tr>
</table>
<center>
    <form name="form" action="Order_ytb_list" method="post" enctype="multipart/form-data">
        <div>
            <TABLE style="LINE-HEIGHT: 30px;text-align: center" cellSpacing=1 cellPadding=0 width="100%" bgColor=#336699 borderColorLight=#006699 border=0  >

                <tr>
                    <td>
                        <table cellpadding="3" cellspacing="1" border="1" width="100%" id="table1">

                            <center>
                                <form name=form action="Order_wtb_do.asp" method="post">
                                    <tr class="t1">
                                        <td nowrap align="center">选择</td>
                                        <td nowrap align="center">序号</td>
                                        <td nowrap align="center">产品编码</td>
                                        <td nowrap align="center">产品名称</td>
                                        <td nowrap align="center">计量单位</td>
                                        <td nowrap align="center">状态</td>
                                    </tr>

                                    <tr class="t2" th:each="Material,stat:${session.SkipEntryPageInfo.list}">
                                        <td align=center><input type="radio" name="p_orderno" value="1000201011133272"
                                                                onClick="changeData();"></td>
                                        <td>[[${Material.id}]]</td>
                                        <td>[[${Material.materialNum}]]</td>
                                        <td>[[${Material.materialName}]]</td>
                                        <td>[[${Material.materialUnit}]]</td>
                                        <td>未完成<br></td>
                                    </tr>

                                </form>
                            </center>
                        </table>
                    </td>
                </tr>
            </table>


        </div>
    </form>
    </div>
    <TABLE style="LINE-HEIGHT: 30px;text-align: center;margin-top: 10px;" cellSpacing=1 cellPadding=0 width="80%" bgColor=#336699 borderColorLight=#006699
           border=0>
        <tr>
            <td>
                <table cellpadding="3" cellspacing="1" border="1" width="100%" id="table2">

                    <tr class="t1">
                        <td>物资编码</td>

                        <td></td>
                        <input type="hidden" name="p_input7" value="">
                    </tr>
                    <tr class="t1">
                        <td>物资名称</td>

                        <td>

                        </td>


                    </tr>

                    <tr class="t1">
                        <td>数量</td>

                        <td>
                            <input id="quantity" type="text" name="p_input11" size="20" maxlength="20" value=""
                                   onKeyPress="check_num_dot()" Chk=2 alt="请输入数量。"
                                   onBlur="iszero(this.value,form.p_input11)">
                            <font color=red>*</font>
                        </td>
                    </tr>
                    <tr class="t1">
                        <td>计量单位</td>

                        <td>
                            个
                            <input type="hidden" name="p_input12" value="个">
                        </td>
                    </tr>
                    <tr class="t1">
                        <td>预单价(元)</td>

                        <td>
                            <input type="text" name="price" size="20" maxlength="20" value="" id="price">

                        </td>
                    </tr>
                    <tr class="t1">
                        <td>交货期</td>

                        <td>
                            <!--<input type="text" name="p_date1" size="20" readonly value="2010/01/09" id="p_date1">-->
                            <input type="text" readonly class="flexDate" format="yyyy/MM/dd" clearBtn="false" confirm="confirm" value="2010/01/09" name="p_date1" id="ReadData"/>
                            <font color=red>*</font>
                        </td>
                    </tr>

                    <tr class="t1">
                        <td>备注</td>

                        <td>
                            <textarea name="remark" id="remark"></textarea>

                        </td>
                    </tr>

                    <tr class="t1">
                        <td colspan=2>
                            <font color=red><B>
                                附件上传说明：文件大小不能超过4M。
                            </B></font>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

    <br>

    <input type="button" value="重新选择物资" onclick="toreload('planman/pclass_select');">

    <input type="button" value="保存" onClick="javascript:submit_form1();" on>

    <input type="button" value="全部需求录入完毕" onClick="javascript:submit_form()">
</center>
</form>
</body>
</html>
