<!DOCTYPE HTML>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<HEAD th:insert="~{common::header('')}">
    <META http-equiv=Content-Type content="text/html; charset=UTF-8">
    <LINK href="css/style.css" type=text/css rel=stylesheet>
</HEAD>
<BODY bottomMargin=0 bgColor=#005890 leftMargin=0 topMargin=0
      rightMargin=0>
<A onclick="ConfirmLogout()" href="#">
    <IMG height="20" alt=注销当前登录，并重新登录到采购网
         src="css/exit.gif" width="53px" align=absBottom border=0>
</A>
<span style="WIDTH: 6px; COLOR: white" align=right>|</span>
<A href="#">
    <IMG height=20 alt=在软件使用中如有疑问，请单击帮助来获得解决
         src="css/help.gif" width=50 align=absMiddle border=0>
</A>
<div style="float: right;color: white">
    <B>用户：<FONT color=white><span id="userNameSpan"></span></FONT>&nbsp;&nbsp;</B>
    <A onclick="window.open('About.ASP','child','status=no,scrollbars=no,toolbar=no,menubar=no,location=no,width=458,height=360,left='+(window.screen.width/2-229)+',top='+(window.screen.height/2-230)+' ')"
       href="javascript:void(null)" shape=rect coords="162, 184, 242, 258">
        <IMG height=16 alt=关于采购网 src="css/About.gif" width=16 align=absBottom border=0>
    </A>
</div>
<SCRIPT language=javascript>
    $.get("user/getShiroPrincipal",function(data){
        var userNameSpan = $("#userNameSpan");
        userNameSpan.text(data)
    })

    function ConfirmLogout() {
        if (confirm("注销当前用户，并以其它身份登录？")) {
            location.href = "user/userLogout";
        }
        return false;
    }
</SCRIPT>
</BODY>
</HTML>
