<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header('登录')}"></head>
</head>
<body style="background-color: #1b6d8555;">
    <div style="border-radius: 5px;padding: 0px 2px;width: 300px;height: 400px;margin: 50px auto;background-color: #1b6d85;box-shadow: 5px 5px #00000020;">
        <form id="ff" action="/user/userLogin" method="post">
            <h3 style="text-align: center;color:white;padding: 8px 20px 0px;line-height: 30px">用户登录</h3>
            <div style="padding: 10px 10px;width: 296px;height: 350px;background-color: white;border-radius: 5px;">
                <h3 style="padding-bottom:10px;text-align: center;color: #0000FF;">务资采购电子商务系统</h3>
                <div class="form-group">
                    <input type="text" name="uName" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <input type="password" name="uPassword" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
                </div>
                <br>
                <button style="margin: 0px 10px;width: 250px;height: 40px" type="submit" class="btn btn-primary" >登录</button>
                <p style="text-align: center;padding-top: 20px">还没有账号？去<a href="#">注册</a></p>
            </div>
        </form>
    </div>
<script type="text/javascript">

</script>
</body>
</html>