<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::header('')}"></head>
<body>
    <ul id="mytree"></ul>
    <script type="text/javascript">
        function toreload(href){
            $("#mycontent").panel("refresh",href);
        }
        $("#mytree").tree({
            url:'/menu/',
            lines:true,
            animate:true,
            onClick:function(node){
                // alert(node.attributes.url)
                // if(node.attributes.url != null){
                //     toreload(node.attributes.url)
                //     // $("#mycontent").panel("refresh",node.attributes.url);
                // }
                if($(this).tree('isLeaf',node.target)){
                    // addPanel(node);
                    toreload(node.attributes.url)
                }else{
                    $(this).tree(node.state === 'closed' ? 'expand' : 'collapse', node.target);
                    node.state = node.state === 'closed' ? 'open' : 'closed';
                }
            }
        })
    </script>

</body>
</html>